<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>自助游-爱米易旅游网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen" charset="utf-8">   
    <link rel="stylesheet" href="/static/css/1200head_new.css" type="text/css" media="screen" charset="utf-8"> 
    <link rel="stylesheet" href="/static/css/zizhu.css" type="text/css" media="screen" charset="utf-8">
	<script src="/static/js/jquery-1.10.0.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(function(){
		(function(){
			//alert('123');
			var imgTimer,imgIndex = 0,len = $("#scroll-imgs>li").length;
			function scrollImgs(index){
				$("#scroll-vec>li").eq(index).addClass("active").siblings().removeClass("active");
				$("#scroll-imgs").stop().animate({"marginLeft":-index*665+"px"},500);
			}
			$("#scroll-vec>li").each(function(index, element) {
				$(this).hover(function(){
					imgIndex = index;
					scrollImgs(imgIndex);
				});
			});
			
			$(".scroll").hover(function(){
				clearInterval(imgTimer);
			},function(){
				imgTimer = setInterval(function(){
					imgIndex++;
					if(imgIndex>=len){imgIndex = 0;}
					scrollImgs(imgIndex);
				},3000);
			}).trigger("mouseout");
		})();
	});
	</script>
	<style>
	/*滚动图片*/
.scroll{
    width:780px;
    height:280px;
    overflow:hidden;
    position:relative;
}
.scroll-img{width:665px; overflow:hidden;}
.scroll-img ul{display:block; width:3000px;}
.scroll-img li{float:left; width:665px; height:280px; overflow:hidden;}
.scroll-vector{
    width:114px;
    overflow:hidden;
}
.scroll-vector li{
    position:relative;
    right:16px\9;
    width:114px;
    height:71px;
    margin-bottom:3px;
    *margin-bottom:1px;
    overflow:hidden;
    cursor:pointer;
}
.scroll-vector li img{
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:100px;
    height:67px;
    overflow:hidden;
    overflow:hidden;
    border:2px solid #FFF;
}
.scroll-vector li i{position:absolute; left:0px; top:28px; z-index:10; display:none}
.scroll-vector li.active img{ border-color:#F60; }
.scroll-vector li.active i{display:block;}
	</style>
    </head>
<body style="">
<!--{include header_top}-->
    <!--nav end-->
    <div class="layout1200">
        <!--广告-->
        <a class="ad-img" href="#" title="爱米易旅游网"><img src="/static/img/banner.png" alt="爱米易旅游网" width="1198" height="126"></a>
        <!--广告 end-->
        <!--main start-->
        <!--搜索start-->
        <div class="zi-search fn-clear">
            <div id="searchSel" class="search-sel fn-left">
            	<dl id="searchCity" class="search-loc fn-left">
                	<dt><span>山东</span>站</dt>
                    <dd class="fn-hide">
                        <ul>
                            <li class="fn-clear">
                                <h4 class="fn-left">B</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="滨州">滨州</a>
                                  
                                </div>
                            </li>
                            <li class="fn-clear">
                                <h4 class="fn-left">D</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="东营">东营</a>
                                    <a href="#" target="_blank" title="德州">德州</a>
                                </div>
                            </li>
                            <li class="fn-clear">
                                <h4 class="fn-left">J</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="济南">济南</a>
                                    <a href="#" target="_blank" title="济宁">济宁</a>
                                </div>
                            </li>
                            <li class="fn-clear">
                                <h4 class="fn-left">L</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="聊城">聊城</a>
                                    <a href="#" target="_blank" title="莱芜">莱芜</a>
									<a href="#" target="_blank" title="临沂">临沂</a>
                                </div>
                            </li>

							 <li class="fn-clear">
                                <h4 class="fn-left">H</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="菏泽">菏泽</a>
                                   
                                </div>
                            </li>

							 <li class="fn-clear">
                                <h4 class="fn-left">Q</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="青岛">青岛</a>
                                </div>
                            </li>

							 <li class="fn-clear">
                                <h4 class="fn-left">R</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="日照">日照</a>
                                </div>
                            </li>

							 <li class="fn-clear">
                                <h4 class="fn-left">T</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="泰安">泰安</a>
                                </div>
                            </li>

							<li class="fn-clear">
                                <h4 class="fn-left">Y</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="烟台">烟台</a>
                                </div>
                            </li>

							<li class="fn-clear">
                                <h4 class="fn-left">W</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="潍坊">潍坊</a>
									<a href="#" target="_blank" title="威海">威海</a>
                                </div>
                            </li>

							<li class="fn-clear">
                                <h4 class="fn-left">Z</h4>
                                <div class="fn-left">
                                    <a href="#" target="_blank" title="淄博">淄博</a>
									<a href="#" target="_blank" title="枣庄">枣庄</a>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <dl id="searchTrav" class="search-des fn-left">
                	<dt><span>热门目的地</span></dt>
                    <dd class="fn-hide">
                        <ul>
                            <li class="fn-clear">
                                <h4 class="fn-left"><a href="#" target="_blank" title="济南">济南</a></h4>
                                <div class="fn-left">
                                    <a href="/sceneryticket.php?id=55" target="_blank" title="卧虎山">卧虎山</a>
                                    <a href="/sceneryticket.php?id=9" target="_blank" title="大明湖">九顶塔</a>
                                    <a href="/sceneryticket.php?id=34" target="_blank" title="跑马岭">跑马岭</a>
                                    <a href="/sceneryticket.php?id=52" target="_blank" title="金象山">金象山</a>
                                </div>
                            </li>
                            <li class="fn-clear">
                                <h4 class="fn-left"><a href="#" target="_blank" title="青岛">青岛</a></h4>
                                <div class="fn-left">
                                    <a href="/sceneryticket.php?id=58" target="_blank" title="趵突泉">金山</a>
                                    <a href="/sceneryticket.php?id=44" target="_blank" title="御都温泉">御都温泉</a>
                                    <a href="/sceneryticket.php?id=2" target="_blank" title="青岛海底世界">青岛海底世界</a>
                                    <a href="/sceneryticket.php?id=1" target="_blank" title="极地海洋世界">极地海洋世界</a>
                                </div>
                            </li>
                            <li class="fn-clear">
                                <h4 class="fn-left"><a href="#" target="_blank" title="泰安">泰安</a></h4>
                                <div class="fn-left">
                                    <a href="/sceneryticket.php?id=47" target="_blank" title="天乐城">天乐城</a>
                                    <a href="/sceneryticket.php?id=6" target="_blank" title="太阳部落">太阳部落</a>
                                    <a href="/sceneryticket.php?id=12" target="_blank" title="雪野农博园">雪野农博园</a>
                                    <a href="/sceneryticket.php?id=13" target="_blank" title="泰山温泉城">泰山温泉城</a>
                                </div>
                            </li>
                            <li class="fn-clear">
                                <h4 class="fn-left"><a href="#" target="_blank" title="烟台">烟台</a></h4>
                                <div class="fn-left">
                                    <a href="/sceneryticket.php?id=35" target="_blank" title="艾山温泉">艾山温泉</a>
                                    <a href="/sceneryticket.php?id=57" target="_blank" title="林山滑雪场">林山滑雪场</a>
                                    <a href="/sceneryticket.php?id=33" target="_blank" title="南山景区">南山景区</a>
                                    <a href="/sceneryticket.php?id=50" target="_blank" title="牟氏庄园">牟氏庄园</a>
                                </div>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <form action="/zizusearch.php" method="post">
            <div class="search-ipt fn-left">
            	<input class="search-txt" type="text" name="keywords">
                <input class="search-btn" type="submit" value="">
            </div>
            <button class="search-btn" type="submit">搜  索2</button>
            </form>
            <dl class="search-hot fn-right fn-clear">
            	<dt>热门搜索：</dt>
                <dd>
                	<a href="#" title="趵突泉">艾山温泉</a>
                    <a href="#" title="趵突泉">卧虎山</a>
                    <a href="#" title="趵突泉">九顶塔</a>
                    <a href="#" title="趵突泉">金象山</a>
                    <a href="#" title="趵突泉">泰山温泉城</a>
                </dd>
            </dl>
        </div>
        <!--搜索 end-->
        <!--头部推荐 start-->
        <div class="main-top fn-clear">
            <div class="mtop-left fn-left">
                <h2>热门自助游</h2>
                <div class="con">
                    <img src="/static/img/top-left.gif" width="386" height="110" alt="蜗牛旅途">
                    <div class="hot-list">
                        <dl class="fn-clear">
                            <dt>热门目的地：</dt>
                            <dd>
                                <a href="#" title="济南">济南</a>
                                <a href="#" title="青岛">青岛</a>
                                <a href="#" title="临沂">临沂</a>
                                <a href="#" title="烟台">烟台</a>
                                <a href="#" title="趵突泉">泰安</a>
                                <a href="#" title="趵突泉">威海</a>
                            </dd>
                        </dl>
                        <dl class="fn-clear">
                            <dt>热门景区：</dt>
                            <dd>
                                <a href="#" title="卧虎山">卧虎山</a>
                                <a href="#" title="九顶塔">九顶塔</a>
                                <a href="#" title="南山景区">南山景区</a>
                                <a href="#" title="太阳部落">太阳部落</a>
                                <a href="#" title="御都温泉">御都温泉</a>
                                <a href="#" title="九顶塔">九顶塔</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="scroll fn-right">
        	<div class="scroll-img fn-left">
                <ul id="scroll-imgs" class="fn-clear">
					<li><a href="{$INI['slide']['slide_url1']}" target="_blank" title=""><img alt="蒙山龟蒙风景区" src="/static/{$INI['slide']['slide_img1']}" width="100%" height="280"></a></li>
                    <li><a href="{$INI['slide']['slide_url2']}" target="_blank" title="">
					<img alt="聊城天沐温泉" src="/static/{$INI['slide']['slide_img2']}" width="100%" height="280"></a></li>
                    <li><a href="{$INI['slide']['slide_url3']}" target="_blank" title="">
					<img src="/static/{$INI['slide']['slide_img3']}" width="100%" height="280"></a></li>
                    <li><a href="{$INI['slide']['slide_url4']}" target="_blank" title="">
					<img src="/static/{$INI['slide']['slide_img4']}" width="100%" height="280"></a></li>
                    
                </ul>
            </div>
            <ul id="scroll-vec" class="scroll-vector fn-right">
				<li class="active"><img src="/static/{$INI['slide']['slide_img1']}" width="100%" height="100%"><i class="tri-left"></i></li>
                <li ><img src="/static/{$INI['slide']['slide_img2']}" alt="天沐温泉" width="100%" height="100%"><i class="tri-left"></i></li>
                <li><img src="/static/{$INI['slide']['slide_img3']}" width="100%" height="100%"><i class="tri-left"></i></li>
                <li><img src="/static/{$INI['slide']['slide_img4']}" width="100%" height="100%"><i class="tri-left"></i></li>
                
            </ul>
        </div>
        </div>
        <!--头部推荐 end-->
        <!--蜗牛特惠 start-->
        <div class="zi-tehui">
            <div class="main-hd hd-dblue fn-clear">
                <h2>蜗牛特惠<i class="icon-sale"></i></h2>
                <a class="more" href="#" title="更多特惠">更多特惠>></a>
            </div>
            <ul class="tehui-list fn-clear">
            <!--{loop $tehui_partners $k $tehui}-->
                <li>
                    <a href="/showzizhuyou.php?id={$tehui['id']}" title="{$tehui['title']}" target="_blank" class="img"><img src="${team_image($tehui['image'])}" alt="{$tehui['title']}" width="223" height="133"></a>
                    <h3><a href="/showzizhuyou.php?id={$tehui['id']}" title="{$tehui['title']}" target="_blank">{$tehui['title']}</a></h3>
                    <div class="pr-loc fn-clear">
                        <span class="price fn-left">￥{$tehui['price']}</span>
                        <span class="loc fn-right">{$tehui['city']}</span>
                    </div>
                    <div class="detail fn-clear">
                        <span class="save fn-left">￥{$tehui['youhui']}</span>
                        <a class="fn-right" href="/showzizhuyou.php?id={$tehui['id']}" title="查看详情" target="_blank">查看</a>
                    </div>
                </li>
             <!--{/loop}-->
            </ul>
        </div>
        <!--蜗牛特惠 end-->
        <!--热门推荐 蜗牛游记 start-->
        <div class="fn-clear">
        	<!--热门推荐 start-->
        	<div class="zizhu-rec fn-left">
            	<div class="main-hd hd-blue fn-clear">
                	<h2>热门推荐</h2>
                    <ul id="hotNav" class="fn-left fn-clear">
                    	<li class="current"><a href="javascript:void(0);" title="济南">济南</a><i></i></li>
                    	<li><a href="javascript:void(0);" title="临沂">临沂</a><i></i></li>
                    	<li><a href="javascript:void(0);" title="青岛">青岛</a><i></i></li>
                    	<li><a href="javascript:void(0);" title="日照">日照</a><i></i></li>
                    	<li><a href="javascript:void(0);" title="潍坊">潍坊</a><i></i></li>
                    </ul>
                </div>
                <div id="hotCon" class="hot-rec-list fn-clear">
                     <!--${$i=1}-->
                    <!--{loop $tickets $tks $ticket}-->
                    <ul class="rec-list <!--{if $i!=1}-->fn-hide<!--{/if}-->">
                         <!--{loop $ticket $tk $one}-->
                        <li class="fn-clear">
                            <a href="/showzizhuyou.php?id={$one['id']}" title="{$one['title']}" target="_blank" class="img fn-left"><img src="${team_image($one['image'])}" width="110" height="70" alt="{$one['title']}"></a>
                            <div class="detail fn-left">
                                <h3><a href="/showzizhuyou.php?id={$one['id']}" title="{$one['title']}" target="_blank">{$one['title']}</a></h3>
                                <p><span>推荐理由：</span>{$one['tese']}</p>
                            </div>
                            <div class="price fn-right fn-clear">
                                <p>蜗牛价：<span>￥{$one['price']}</span></p>
                                <a href="/showzizhuyou.php?id={$one['id']}" title="查看详细" target="_blank">查看详细</a>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                    <!--${$i++}-->
                    <!--{/loop}-->
                </div>
            </div>
        	<!--热门推荐 end-->
            
        	<!--蜗牛游记 start-->
            <div class="zizhu-travel fn-right">
            	<div class="hd fn-clear">
                	<h2>蜗牛游记<i class="icon-tag"></i></h2>
                    <a href="#" title="更多">更多&lt;&lt;</a>
                </div>
                <div class="con">
                	<a href="#" title="蜗牛旅途-在路上" class="tr-subject"><img src="static/img/top-right1.png" alt="蜗牛旅途-在路上"></a>
                	<a href="#" title="蜗牛旅途-在路上" class="tr-subject"><img src="static/img/top-right2.png" alt="蜗牛旅途-在路上"></a>
                    <ul class="tr-list">
                    	<li>
                        	<a href="#" title="title" target="_blank">蜗牛游记标题</a>
                            <span>11/11</span>
                        </li>
                    	<li>
                        	<a href="#" title="title" target="_blank">蜗牛游记标题</a>
                            <span>11/11</span>
                        </li>
                    	<li>
                        	<a href="#" title="title" target="_blank">蜗牛游记标题</a>
                            <span>11/11</span>
                        </li>
                    	<li>
                        	<a href="#" title="title" target="_blank">蜗牛游记标题</a>
                            <span>11/11</span>
                        </li>
                    	<li>
                        	<a href="#" title="title" target="_blank">蜗牛游记标题</a>
                            <span>11/11</span>
                        </li>
                    	<li>
                        	<a href="#" title="title" target="_blank">蜗牛游记标题</a>
                            <span>11/11</span>
                        </li>
                    	<li>
                        	<a href="#" title="title" target="_blank">蜗牛游记标题</a>
                            <span>11/11</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--蜗牛游记 end-->
        </div>
        <!--热门推荐 蜗牛游记 end-->
        <!--广告-->
        <a class="ad-img" href="#" title="蜗牛旅途"><img src="static/img/banner.png" alt="蜗牛旅途" width="1198" height="126"></a>
        <!--广告 end-->
        <!--蜗牛攻略 专题推荐 start-->
        <div class="fn-clear">
            <!--蜗牛攻略 start-->
            <div class="zi-strategy fn-left">
                <div class="main-hd hd-green fn-clear">
                    <h2>蜗牛攻略</h2>
                    <a class="more" href="#" title="更多">更多>></a>
                </div>
                <div class="strategy-news fn-clear">
                    <a href="#" title="攻略" class="img fn-left"><img src="static/img/exam.png" width="200" height="127" alt="攻略"></a>
                    <div class="detail fn-right">
                        <h3><a href="#" title="攻略">攻略文章标题</a></h3>
                        <p>攻略文章标题攻略文章标题攻略文章标题攻略文章标题攻略文章标题攻略文章标题攻略文章标题攻略文章标题</p>
                        <p>攻略文章标题攻略文章标题攻略文章标题攻略文章标题攻略文章标题攻略文章标题攻略文章标题攻略文章标题</p>
                    </div>
                </div>
                <ul class="tr-list">
                    <li>
                        <a href="#" title="title" target="_blank">蜗牛游记标题</a>
                        <span>11/11</span>
                    </li>
                    <li>
                        <a href="#" title="title" target="_blank">蜗牛游记标题</a>
                        <span>11/11</span>
                    </li>
                    <li>
                        <a href="#" title="title" target="_blank">蜗牛游记标题</a>
                        <span>11/11</span>
                    </li>
                    <li>
                        <a href="#" title="title" target="_blank">蜗牛游记标题</a>
                        <span>11/11</span>
                    </li>
                    <li>
                        <a href="#" title="title" target="_blank">蜗牛游记标题</a>
                        <span>11/11</span>
                    </li>
                    <li>
                        <a href="#" title="title" target="_blank">蜗牛游记标题</a>
                        <span>11/11</span>
                    </li>
                    <li>
                        <a href="#" title="title" target="_blank">蜗牛游记标题</a>
                        <span>11/11</span>
                    </li>
                </ul>
            </div>
            <!--蜗牛攻略 end-->
            <!--专题推荐 start-->
            <div class="zi-subject fn-right">
                <div class="main-hd hd-blue fn-clear">
                    <h2>专题推荐</h2>
                    <a class="more" href="#" title="更多">更多>></a>
                </div>
                <div class="sub-lists">
                    <ul class="sub-list fn-left fn-clear">
                        <li class="big">
                            <a href="#" target="_blank" title="主题推荐">
                                <img src="static/img/exam.png" width="280" height="158" alt="主题推荐">
                            </a>
                        </li>
                        <li class="sub-mr">
                            <a href="#" target="_blank" title="主题推荐">
                                <img src="static/img/exam.png" width="136" height="167" alt="主题推荐">
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" title="主题推荐">
                                <img src="static/img/exam.png" width="136" height="167" alt="主题推荐">
                            </a>
                        </li>
                    </ul>
                    <a class="mid fn-left" href="#" target="_blank" title="主题推荐">
                        <img src="static/img/exam.png" width="182" height="333" alt="主题推荐">
                    </a>
                    <ul class="sub-list fn-left fn-clear">
                        <li class="big">
                            <a href="#" target="_blank" title="主题推荐">
                                <img src="static/img/exam.png" width="280" height="158" alt="主题推荐">
                            </a>
                        </li>
                        <li class="sub-mr">
                            <a href="#" target="_blank" title="主题推荐">
                                <img src="static/img/exam.png" width="136" height="167" alt="主题推荐">
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" title="主题推荐">
                                <img src="static/img/exam.png" width="136" height="167" alt="主题推荐">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--专题推荐 end-->
        </div>
        <!--蜗牛攻略 专题推荐 start-->

        <script type="text/javascript">
            $(function(){
                $("#searchSel>dl").hover(function(){
                    $(this).children("dd").show();
                },function(){
                    $(this).children("dd").hide();
                });
                function cutOver(oper,tab,selector,target1,target2){
                    if($(tab).length<=0) return;
                    $(tab).find("li").bind(oper,function(){
                        $(this).addClass(selector).siblings().removeClass(selector);
                        var tabIndex = $(this).index();
                        $(target1).eq(tabIndex).show().siblings(target1).hide();
                        if(target2){$(target2).eq(tabIndex).show().siblings(target2).hide();}
                    });
                }
                cutOver("mouseover","#hotNav","current","#hotCon>ul");
            });
        </script>
        <!--main end-->
    </div>
    <!--footer start-->
    <div id="footer_lite">
        Copyright&nbsp;©&nbsp;<span class="cr_time" type="Sence">20012-2013</span>&nbsp;版权所有&nbsp;
        <span class="corp_name">济南领程网络技术有限公司</span>&nbsp;
        <a class="icp_num" href="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP备13020675号</a>
    </div>
</body>
</html>