about/*
alifast/*
api/*
bbs/*
credit/*
feedback/*
flash/*
forum/*
gt/*
help/*
include/configure/*
include/compiled/*
jpgraph/*
message/*
nbproject/*
njl/*
rewrite/*
static/*
thirdpart/*
uc_client/*
wap/*
IEDevToolBarSetup.msi
*.sql