<div id="footer_lite">
Copyright&nbsp;©&nbsp;<span class="cr_time" type="Sence">2012-2014</span>&nbsp;版权所有&nbsp;<span class="corp_name">重庆春暖花开文化传播有限公司</span>&nbsp;<a class="icp_num" href="http://www.miitbeian.gov.cn/" target="_blank">渝ICP备13005628号</a>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5885855'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D5885855%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0260cc3fec624e7dc77538bccf8ed603' type='text/javascript'%3E%3C/script%3E")) </script>

</body>
</html>