<!--footer start-->
    <div id="footer">
    	<div class="layout fn-clear">
        	<dl class="fn-left">
            	<dt>关于嘿要耍</dt>
                <dd><a href="http://www.imiyi.cc/news.php?id=1" target="_blank">关于我们</a></dd>
                <dd><a href="#" target="_blank">用户协议</a></dd>
                <dd><a href="#" target="_blank">常见问题</a></dd>
                <dd><a href="#" target="_blank">网站地图</a></dd>
            </dl>
        	<dl class="fn-left">
            	<dt>合作加盟</dt>
                <dd><a href="#" target="_blank">景点加盟</a></dd>
                <dd><a href="#" target="_blank">酒店加盟</a></dd>
                <dd><a href="#" target="_blank">网站联盟</a></dd>
                <dd><a href="#" target="_blank">友情链接</a></dd>
            </dl>
            <dl class="fn-left">
            	<dt>新手指南</dt>
                <dd><a href="http://www.imiyi.cc/account/signup.php" target="_blank">新手注册</a></dd>
                <dd><a href="http://www.imiyi.cc/account/login.php" target="_blank">用户登录</a></dd>
                <dd><a href="#" target="_blank">用户登录</a></dd>
                <dd><a href="#" target="_blank">支付/退款方式</a></dd>
            </dl>
        	<dl class="fn-left">
            	<dt>联系我们</dt>
                <dd><a href="http://www.imiyi.cc/news.php?id=2" target="_blank">联系我们</a></dd>
                <dd><a href="#" target="_blank">意见反馈</a></dd>
                <dd><a href="#" target="_blank">联系我们</a></dd>
                <dd><a href="/news.php?id=8" target="_blank">获取帮助</a></dd>
            </dl>
            
        </div>
        <p style="margin-top:10px">
		<strong>友情链接：</strong>
		<!--{loop $links $lk}-->
		<a href="http://{$lk['url']}/" target="_blank">{$lk['title']}</a>
		<!--{/loop}-->
		</p>
        <p class="layout">Copyright © 2014    
                  <div class="bdshare" style="float:right">
               
                </div>
        </p>
    </div>
    <!--footer end-->