<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa5f5c3187bed5c554c7835ea49e9fff0' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F04bd205c4ecbcee853ae756c699eaffb' type='text/javascript'%3E%3C/script%3E")) </script>
</div>
</body>
</html>
