<!--{include manage_header}-->
<script type="text/javascript" src="/static/js/datepicker/WdatePicker.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
<script type="text/javascript">
window.x_init_hook_gm = function() {
    X.misc.setgooglemap = function(ll) {
        X.get(WEB_ROOT+'/ajax/system.php?action=googlemap&ll='+ll);
    };
    X.misc.setbaidumap = function(ll){
        X.get(WEB_ROOT+'/ajax/system.php?action=baidumap&ll='+ll);    
    };
    X.misc.setgooglemappoint = function(latlng) {
        jQuery('#inputlonglat').val(latlng.y+','+latlng.x);
    };
    X.misc.setbaidumappoint = function(e){
        jQuery('#inputlonglat').val(e.point.lat+','+e.point.lng);    
    };
    X.misc.setgooglemapclick = function(overlay, latlng) {
        jQuery('#inputlonglat').val(latlng.y+','+latlng.x);
    };
    X.misc.setbaidumapclick = function(e){
        jQuery('#inputlonglat').val(e.point.lat+','+e.point.lng);    
    };
};
$(function(){
    var i=1;
    $("#add").click(function(){
        $("#piclist").append('<div style="display:block" id="file_'+i+'"><label>景区图片</label><input type="file" size="30" name="upload_image[]" class="f-input f-hint" /><span class="delfile" style="cursor:pointer;">删除<span></div><div style="clear:both"></div>');
        i++;
    })
    $(".delfile").live('click',function(){
        $(this).parent().remove();
        i--;
    })
    $(".controll").click(function(){
        var tid = $(this).attr('tid');
        var result = window.showModalDialog('/manage/xcy/price.php?tid='+tid, window, "dialogWidth=750px;dialogHeight=537px;center:yes;status:no;scroll:yes;help:no;resizable:no;");
    })
}
)
</script>

<style type="text/css">
td{
    height:30px;
    border-bottom:1px solid #CCC;
}
</style>
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
    <div class="dashboard" id="dashboard">
        <ul>${mcurrent_xcy('create')}</ul>
    </div>
    <div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>门票信息</h2>(提交完信息后不要做刷新操作，避免重复提交)</div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="/manage/xcy/ticket.php" enctype="multipart/form-data" class="validator">
                    <!--基本信息-->
                        <div class="wholetip clear"><h3>1、基本信息</h3></div>
                        <div class="field">
                            <label>门票名称</label>
                            <input type="text" size="30" name="t_name" id="ticket-create-name" class="f-input f-hint" value="{$ticket['t_name']}" require="true" datatype="require" />
                        </div>    

						 <div class="field">
                            <label>排序</label>
                            <input type="text" size="30" style="width:120px;" name="t_sort"  class="f-input f-hint" value="{$ticket['t_sort']}" />
                        </div>

                        <div class="field">
                            <label>门票面值</label>
                            <input type="text" size="30" style="width:120px;" name="t_origin" id="ticket-create-origin" class="f-input f-hint" value="{$ticket['t_origin']}" />&nbsp;元
                        </div>
                        <div class="field">
                            <label>蜗牛价格</label>
                            <input type="text" size="30" name="t_price" style="width:120px;" id="ticket-create-price" class="f-input f-hint" value="{$ticket['t_price']}" maxLength="18" datatype="require" require="ture" />&nbsp;元
                        </div>
                        
                        <div class="field">
                            <label>门票类型</label>
                            <input type="radio" name="t_type" <!--{if $ticket['t_type']=='1'}-->checked<!--{/if}--> value="1">景区现付 &nbsp;&nbsp;&nbsp;
                            <input type="radio" name="t_type" <!--{if $ticket['t_type']=='2'}-->checked<!--{/if}--> value="2">预交定金 &nbsp;&nbsp;&nbsp;
                        </div>
                        
                        <div class="field">
                            <label>定金</label>
                            <input type="text" style="width:120px;"  name="deposit" value="{$ticket['deposit']}">元&nbsp;&nbsp;&nbsp;
                            <span class="hint">如果选择‘预交定金’的形式 请填写。其他无需填写</span>
                        </div>
                        
                        <div class="field">
                            <label>返现</label>
                            <input type="text" style="width:120px;"  name="fanxian" value="{$ticket['fanxian']}">元&nbsp;&nbsp;&nbsp;
                            <span class="hint">填写返现金额</span>
                        </div>
                        
                        <div class="field">
                           <div class="field">
                            <label>门票分类</label>
                            <select name="t_cate" class="f-input f-hint" style="width:160px;">${Utility::Option(option_category('ticket'), $ticket['t_cate'], '-选择门票类型-')}</select>
                           
                        </div>
                           
                        </div>
                        
                        <div class="field">
                            <label>起始预订数</label>
                            <input type="text" style="width:120px;"  name="start_num" value="{$ticket['start_num']}">&nbsp;&nbsp;&nbsp;
                        </div>
                        
                        <div class="field">
                            <label>提前预订天数</label>
                            <select name="beforeday">
                                <option value="0" selected>0</option>
                                <option value="0">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                        
                        <div class="field">
                            <label>当天截至时间</label>
                            <input type="text" style="width:120px;"  name="end_book_time" value="{$ticket['end_book_time']}">&nbsp;&nbsp;&nbsp;
                            <span class="hint">格式比如：23:59:59</span>
                        </div>
                        
                        <div class="field">
                            <label>预订开始时间</label>
                            <input type="text" style="width:120px;" onFocus="WdatePicker({isShowClear:false,readOnly:true})"  name="book_start_time" value="{$ticket['book_start_time']}">&nbsp;&nbsp;&nbsp;
                            <span class="hint">格式比如：2013-03-05</span>
                        </div>
                        
                        <div class="field">
                            <label>预订结束时间</label>
                            <input type="text" style="width:120px;" onFocus="WdatePicker({isShowClear:false,readOnly:true})"  name="book_end_time" value="{$ticket['book_end_time']}">&nbsp;&nbsp;&nbsp;
                            <span class="hint">格式比如：2013-08-06</span>
                        </div>
                        
                        <div class="field">
                            <label>取票地点</label>
                            <input type="text" style="width:150px;"  name="ticket_place" value="{$ticket['book_end_time']}">&nbsp;&nbsp;&nbsp;
                            <span class="hint">详细说明该票的取票地点</span>
                        </div>
                        
                        
                        
                        
                        
                        
                        <div class="field">
                            <label>团队预订</label>
                            团队价：<input type="text" style="width:120px;"  name="team_price" value="{$ticket['team_price']}">&nbsp;&nbsp;&nbsp;
                            团队预订起始人数：<input type="text" style="width:120px;"  name="team_start_num" value="{$ticket['team_start_num']}"> &nbsp;&nbsp;&nbsp;
                        </div>
                        
                        
                        
                        <div class="field">
                            <label>需要身份证</label>
                            <input type="radio" <!--{if $ticket['t_idnum']=='1'}-->checked<!--{/if}--> name="t_idnum" value="1">是 &nbsp;&nbsp;&nbsp;
                           <input type="radio" <!--{if $ticket['t_idnum']=='0'}-->checked<!--{/if}--> name="t_idnum" value="0">否 &nbsp;&nbsp;&nbsp;
                        </div>

                            <!--<div class="field">
                            <label>预订须知</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="t_notice" id="partner-create-location" class="f-textarea editor">{$ticket['t_notice']}</textarea></div>
                            <span class="hint">请详细描述订票的注意事项</span>
                        </div>-->
                        
                        <!--其他-->
                        <div class="wholetip clear"><h3>2、其他</h3></div>
                        <div class="field">
                            <label>门票状态</label>
                           <input type="radio" name="t_status" <!--{if $ticket['t_status']=='1'}-->checked<!--{/if}--> value="1">有效 &nbsp;&nbsp;&nbsp;
                           <input type="radio" name="t_status" <!--{if $ticket['t_status']=='0'}-->checked<!--{/if}--> value="0">无效 &nbsp;&nbsp;&nbsp;
                            <span class="hint">如果选择无效，则该票作废不再显示</span>
                        </div>

						<div class="field">
                            <label>今日景点特卖会</label>
                           <input type="radio" name="temaihui" <!--{if $ticket['temaihui']=='1'}-->checked<!--{/if}--> value="1">是 &nbsp;&nbsp;&nbsp;
                           <input type="radio" name="temaihui" <!--{if $ticket['temaihui']=='0'}-->checked<!--{/if}--> value="0">否 &nbsp;&nbsp;&nbsp;
						   <input type="text" name="temaisort" size="15" value="{$ticket['temaisort']}" />新增特卖，请设置较大数值
                            <span class="hint">选择是 将显示在 今日景点特卖会</span>
                        </div>

                        <div class="act">
                            <input type="hidden" name="type" value="1">
                            <input type="hidden" name="t_partner" value="{$id}">
                            <input type="hidden" name="t_id" value="{$ticket['id']}">
                            <input type="hidden" name="oldprice" value="{$ticket['t_price']}">
                            <!--{if $_GET['eid']}-->
                            <input type="submit" value="编辑" name="commit" id="partner-submit" class="formbutton"/>
                            <!--{else}-->
                            <input type="submit" value="新建" name="commit" id="partner-submit" class="formbutton"/>
                            <!--{/if}-->
                        </div>
                    </form>
                </div>
            </div>
            <div class="tickets_list" style="background: #fff;border-left: 2px solid #89b4d6;border-right: 2px solid #89b4d6;margin: 0;padding: 0;border-top:1px solid #def;padding-left:30px;padding-right: 10px;padding-bottom:10px">
                 <table id="orders-list" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <th width="40">ID</th>
                        <th width="200">门票名称</th>
                        <th width="100">面值</th>
                        <th width="100">蜗牛价</th>
                        <th width="120">门票类型</th>
                        <th width="120">门票状态</th>
                        <th width="100">门票分类</th>
                        <th width="80">价格管理</th>
                        <th width="180">操作</th>
                    </tr>
                    <!--{loop $tickets $index $one}-->
                    <tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
                        <td>{$one['id']}</td>
                        <td style="text-align:left;">{$one['t_name']}</td>
                        <td nowrap>{$one['t_origin']}</td>
                        
                        <td nowrap>{$one['t_price']}</td>
                        <td nowrap><!--{if $one['t_type']=='1'}-->景区现付<!--{else}-->预交现金<!--{/if}--></td>
                        <td nowrap><!--{if $one['t_status']=='0'}-->作废<!--{else}-->正常<!--{/if}--></td>
                        <td nowrap><!--{if $one['t_cate']=='1'}-->特价票
                        <!--{elseif $one['t_cate']=='2'}-->成人票
                        <!--{elseif $one['t_cate']=='3'}-->儿童票
                        <!--{elseif $one['t_cate']=='4'}-->套票
                        <!--{elseif $one['t_cate']=='5'}-->学生票
                        <!--{/if}--></td>
                        <td nowrap><a href="javascript:," class="controll" tid="{$one['id']}">管理</a>｜<a href="/manage/xcy/price_update.php?id={$one['id']}&tpid={$id}" >更新</a></td>
                        <td nowrap><a href="/manage/xcy/ticket.php?id={$id}&eid={$one['id']}">编辑</a>｜<a href="/ajax/manage.php?action=ticketremove&id={$one['id']}" class="ajaxlink" ask="确定删除该票？">删除</a></td>
                        
                    </tr>
                    <!--{/loop}-->
                 </table>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
