<div id="ftw">
	<div id="ft">
		<p class="contact"><a href="/feedback/suggest.php">意见反馈</a></p>
		
		<div class="copyright">
		<p>&copy;<span>2010</span>&nbsp;{$INI['system']['sitename']}版权所有&nbsp;<a href="/about/terms.php">使用{$INI['system']['abbreviation']}前必读</a>&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">{$INI['system']['icp']}</a>&nbsp;Powered by <a href="http://www.0531site.com/" target="_blank">ZiYangsoft</a> software.</p>
		</div>
	</div>
</div>
<!--{include manage_html_footer}-->
