<!--{include manage_header}-->

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
<script type="text/javascript">
window.x_init_hook_gm = function() {
    X.misc.setgooglemap = function(ll) {
        X.get(WEB_ROOT+'/ajax/system.php?action=googlemap&ll='+ll);
    };
    X.misc.setbaidumap = function(ll){
        X.get(WEB_ROOT+'/ajax/system.php?action=baidumap&ll='+ll);    
    };
    X.misc.setgooglemappoint = function(latlng) {
        jQuery('#inputlonglat').val(latlng.y+','+latlng.x);
    };
    X.misc.setbaidumappoint = function(e){
        jQuery('#inputlonglat').val(e.point.lat+','+e.point.lng);    
    };
    X.misc.setgooglemapclick = function(overlay, latlng) {
        jQuery('#inputlonglat').val(latlng.y+','+latlng.x);
    };
    X.misc.setbaidumapclick = function(e){
        jQuery('#inputlonglat').val(e.point.lat+','+e.point.lng);    
    };
};
$(function(){
    var i=1;
    $("#add").click(function(){
        $("#piclist").append('<div style="display:block" id="file_'+i+'"><label>度假村图片</label><input type="file" size="30" name="upload_image[]" class="f-input f-hint" /><span class="delfile" style="cursor:pointer;">删除<span></div><div style="clear:both"></div>');
        i++;
    })
    $(".delfile").live('click',function(){
        $(this).parent().remove();
        i--;
    })
});
$(function () {
            $("#GetShopPoint").click(function () {
                var result = window.showModalDialog('partern_map.htm', window, "dialogWidth=750px;dialogHeight=537px;center:yes;status:no;scroll:yes;help:no;resizable:no;");
                //var result = window.open('shop_map.htm',"", "height=537, width=750,top=" + iTop + ",left=" + iLeft + ",toolbar =no, menubar=no, scrollbars=yes, resizable=yes, location=no, status=no");
                if (typeof (result) == "undefined") {
                    result = window.returnValue;
                }
                if (result!="") {
                  //  var point = result.split(',');
                  //  document.getElementById("txtLongitude").value = point[0];
                    document.getElementById("inputlonglat").value = result;
                }
            });
            //var admin = $('#ddlCity option:selected');
            //$("#txtmap_city").val(admin.text());
        });

</script>


<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
    <div class="dashboard" id="dashboard">
        <ul>${mcurrent_hotel('create')}</ul>
    </div>
    <div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>度假村信息</h2></div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="/manage/hotel/create.php" enctype="multipart/form-data" class="validator">
                    <!--基本信息-->
                        <div class="wholetip clear"><h3>1、基本信息</h3></div>
                        <div class="field">
                            <label>排序</label>
                            <input type="text" size="30" name="head" id="partner-create-title" class="f-input f-hint" value="{$partner['head']}"/>
                            <span class="hint">数字越大越靠前</span>
                        </div>
                        <div class="field">
                            <label>度假村名称</label>
                            <input type="text" size="30" name="title" id="partner-create-title" class="f-input f-hint" value="{$partner['title']}" require="true" datatype="require" />
                        </div>
                        <div class="field">
                            <label>度假村缩略图</label>
                             <input type="file" size="30" name="main_page"    class="f-input f-hint" />
                             <span class="hint">{$partner['image']}</span>
                            <span class="hint">会显示在首页和栏目页等地方</span>
                        </div>                    
                        <div class="field">
                            <label>联系人</label>
                            <input type="text" size="30" name="contact" id="partner-create-contact" class="f-input f-hint" value="{$partner['contact']}" />
                        </div>
                        <div class="field">
                            <label>联系电话</label>
                            <input type="text" size="30" name="phone" id="partner-create-phone" class="f-input f-hint" value="{$partner['phone']}" maxLength="18" datatype="require" require="ture" />
                        </div>
                        
                        <div class="field">
                            <label>手机号码</label>
                            <input type="text" size="30" name="mobile" id="partner-create-mobile" class="f-input f-hint" value="{$partner['mobile']}" maxLength="11" />
                        </div>
                        <!--{if $_GET['id']}-->
                        <!--${$i=1}-->
                        <!--{loop $partner['image2'] $in $images}-->
                        <!--{if $i==1}-->
                         <div class="field">
                          
                            <label>度假村图片</label>
                            <input type="file" size="30" name="upload_image[]"  class="f-input f-hint" /><label><a href="javascript:void(0)" id="add">再添加一个</a></label>
                            <span class="hint">{$images}</span>
                        </div>
                        <!--{else}-->
                        <div  class="field" style="display:block" id="file_{$i}"><label>度假村图片</label><input type="file" size="30" name="upload_image[]" class="f-input f-hint" /><span class="delfile" style="cursor:pointer;">删除<span><br/>
                        <span class="hint">{$images}</span>
                        </div><div style="clear:both"></div>
                        
                        <!--{/if}-->
                        <!--${$i++}-->
                      <!--{/loop}-->
                      <div class="field" id="piclist">   
                      </div>
                      
                      <!--{else}-->
                      <div class="field">
                          
                            <label>度假村图片</label>
                            <input type="file" size="30" name="upload_image[]" value="{$image}"  class="f-input f-hint" /><label><a href="javascript:void(0)" id="add">再添加一个</a></label>
                            <span class="hint">为了排版需求，请至少上传6张</span>
                        </div>
                        <div class="field" id="piclist">   
                      </div>
                      <!--{/if}-->
                      <!--搜索信息-->
                      <div class="wholetip clear"><h3>3、搜索信息</h3></div>
                        <div class="field">
                            <label>度假村星级</label>
                            <select name="xingji" class="f-input f-hint" style="width:160px;">
                                <option value="23">五星级/豪华型</option>
                                <option value="22">四星级/高档型</option>
                                <option value="21">三星级/舒适型</option>
                                <option value="20">二星级/经济型</option>
                                <option value="19">客栈/酒店式公寓</option>
                                
                            </select>
                        </div>
                        
                        <div class="field">
                            <label>度假村价格</label>
                            <select name="jiage" class="f-input f-hint" style="width:160px;">
                                <option value="1">¥200以下</option>
                                <option value="2">¥200-¥300</option>
                                <option value="3">¥300-¥400</option>
                                <option value="4">¥400-¥600</option>
                                <option value="5">¥600以上</option>
                                
                            </select>
                        </div>
                        
                        <!--<div class="field">
                            <label>品牌</label>
                            <select name="pinpai" class="f-input f-hint" style="width:160px;">
                                <option value="301">格林豪泰</option>
                                <option value="302">锦江之星</option>
                                <option value="303">银座佳驿</option>
                                <option value="304">如家快捷</option>
                                <option value="305">雅悦</option>
                                <option value="306">皇冠假日酒店</option>
                                <option value="307">假日酒店</option>
                                <option value="308">7天连锁</option>
                                <option value="309">金狮100</option>
                                
                            </select>
                            <span class="hint">不属于以上品牌可以不填</span>
                        </div>-->
                          
                        
                         <!--标注信息-->                
                        <div class="wholetip clear"><h3>3、标注信息</h3></div>
                        <div class="field">
                            <label>所在城市</label>
                            <select name="city_id" class="f-input f-hint" style="width:160px;">${Utility::Option(option_category('city'), $partner['city_id'], '-选择城市-')}</select>
                        </div>        
                        <div class="field">
                            <label>度假村地址</label>
                            <input type="text" size="30" name="address" id="partner-create-address" class="f-input f-hint" value="{$partner['address']}" datatype="require" require="true" />
                        </div>                     
                        <div class="field">
                            <label>地图坐标</label>
                            
                            
                            <input type="text" size="30" name="longlat" style="width:300px;cursor:point;" class="f-input f-hint" id="inputlonglat" readonly value="{$partner['longlat']}"  /><span class="inputtip">
                            <a href="javascript:;" style="cursor:point;" id="GetShopPoint">点击获取地图坐标</a></span>
                        </div>
                            <div class="field">
                            <label>线路文字说明</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="location" id="partner-create-location" class="f-textarea editor">{$partner['location']}</textarea></div>
                            <span class="hint">自驾车线路/火车路线/飞机路线</span>
                        </div>
                        <!--详细信息-->
                        <div class="wholetip clear"><h3>3、详细信息</h3></div>
                        <div class="field">
                        <label>度假村简介</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="other" id="team-create-notice" class="f-textarea editor" style="width:710px;height:150px;">{$partner['other']}</textarea></div>
                            <span class="hint">详细描述该度假村</span>
                        </div>
                        
                        <div class="field">
                            <label>预订须知</label>
                            <div style="float:left;"><textarea cols="45" rows="5" name="notice" id="partner-create-notice" class="f-textarea editor">{$partner['notice']}</textarea></div>
                            <span class="hint">请详细描述订票的注意事项</span>
                        </div>
                      
                       
                        <!--其他-->
                        <div class="wholetip clear"><h3>4、其他</h3></div>
                        <div class="field">
                            <label>首页显示</label>
                           <input type="radio" name="shouye" <!--{if $partner['shouye']=='1'}-->checked<!--{/if}--> value="1">是 &nbsp;&nbsp;&nbsp;
                           <input type="radio" name="shouye" <!--{if $partner['shouye']=='0'}-->checked<!--{/if}--> value="0">否 &nbsp;&nbsp;&nbsp;
                            <span class="hint">是否显示在首页</span>
                        </div>
                        
                        <div class="field">
                            <label>热门度假村</label>
                           <input type="radio" name="hot" <!--{if $partner['hot']=='1'}-->checked<!--{/if}--> value="1">是 &nbsp;&nbsp;&nbsp;
                           <input type="radio" name="hot" <!--{if $partner['hot']=='0'}-->checked<!--{/if}--> value="0">否 &nbsp;&nbsp;&nbsp;
                            <span class="hint">设为热门景点后，会出现在首页热搜和栏目页中</span>
                        </div>
                        
                      
                        <div class="act">
                             <input type="hidden" name="type" value="2">
                            <input type="hidden" name="id" value="{$partner['id']}">
                            <!--{if $_GET['id']}-->
                            <input type="submit" value="编辑" name="commit" id="partner-submit" class="formbutton"/>
                             <!--{else}-->
                            <input type="submit" value="新建" name="commit" id="partner-submit" class="formbutton"/>
                            <!--{/if}-->
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
