 <!--nav start-->
    <div class="nav">
        <div class="layout">
            <ul id="nav" class="fn-left fn-clear">
                <li class="current"><a href="#">首页</a></li>
                <li><a href="#">酒店</a></li>
                <li><a href="#">国内机票</a></li>
                <li><a href="#">国际机票</a></li>
                <li><a href="#">景点门票</a></li>
                <li><a href="#">周边自助游</a></li>
                <li><a href="#">国内自助游</a></li>
                <li><a href="#">出境游</a></li>
                <li><a href="#">游轮</a></li>
                <li><a href="#">团购</a></li>
            </ul>
            <span class="help-menu fn-right">
                 <a href="#" class="strategy">攻略</a>
                 <a href="#" class="member">会员俱乐部</a>
             </span>
        </div>
    </div>