<!doctype html>
<html>
<head>
    <meta http-equiv=content-type content="text/html; charset=UTF-8" />
    <title>{$INI['system']['sitename']} - {$INI['system']['sitetitle']}</title>
    <!--{if $seo_description}-->
        <meta name="description" content="{$seo_description}" />
    <!--{elseif $team}-->
        <meta name="description" content="${mb_strimwidth(strip_tags($team['title'] .', '. $team['summary'] .', '. $team['systemreview']), 0, 320)}" />
    <!--{else}-->
        <meta name="description" content="{$INI['system']['description']}" />
    <!--{/if}-->
    <!--{if $seo_keyword}-->
        <meta name="keywords" content="{$seo_keyword}" />
    <!--{else}-->
        <meta name="keywords" content="{$INI['system']['keywords']}" />
    <!--{/if}-->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link rel="shortcut icon" href="/static/icon/favicon.ico" />
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen" charset="utf-8" />    
    <link rel="stylesheet" href="/static/css/news.css"  type="text/css">
    <link rel="stylesheet" href="/static/css/960head.css"  type="text/css">
    <script src="/static/js/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="/static/js/index_1.js" type="text/javascript"></script>
    
   
   
</head>
<body>
<!--{include header_top}-->
<div id="content">
    <div class="right_side">
        <div class="page_head">
                您所在位置：<a href="/" title="蜗牛旅途首页">蜗牛旅途</a>&nbsp;&gt;&nbsp;<a href="#" title="旅游资讯">旅游资讯</a>&nbsp;&gt;&nbsp;{$news['title']}
        </div>
        
        <div class="page_end">
                <div class="page_end_head">
                    <h2>{$news['title']}</h2>
                    <div class="page_end_head_hour">
                        <span class="sp01">发表时间：{$news['begin_time']}</span>
                        <span class="sp02">来源：蜗牛旅行网</span>
                    </div>
                </div>
                
                <div class="page_end_con">
                    {$news['detail']}
                </div>
                <div class="page_alink m_top">
                    <span class="page_up">上一篇：
                    <!--{if $prenews}-->
                        <a href="/news.php?id={$prenews['id']}" title="{$prenews['title']}">{$prenews['title']}</a>
                    <!--{else}-->
                        没有了！
                    <!--{/if}-->
                    </span>
                    <span class="page_down">下一篇：
                    <!--{if $nextnews}-->
                        <a href="/news.php?id={$nextnews['id']}" title="{$nextnews['title']}">{$nextnews['title']}</a>
                    <!--{else}-->
                        没有了！
                    <!--{/if}-->
                    </span>
                </div>
                <div class="clear_float"></div>
        </div>
            
    </div>
    
    <div class="left_side">
            <!-- 热门酒店资讯推荐   start -->
        <div class="left_box">
            <div class="header_box">
                <h3 class="header_title">热门自助游资讯推荐</h3>
                <div class="clear_float">
                </div>
            </div>
            <div class="udiy" id="cn-hot-type-news">
                <div id="portal-block-839635406430" class="udiyblock" type="NewsModel">  
                    <div class="left_taim">  
                        <ul class="infor_chieftain">
                                <!--<li><a target="_blank" href="/news/detail-27668.html" title="九月旅游好去处，三亚自由行金牌推荐">九月旅游好去处，三亚自由行...</a></li>-->
                               
                        </ul>
                        <div class="clear_float"></div>
                    </div>
                </div>
            </div>
        </div>
    <!-- 热门酒店资讯推荐  end -->
            <!-- 图片广告  start -->
             <div class="udiy" id="cn-news-Advertisement-Image"></div>
            <!-- 图片广告  end -->
            
            <!-- 主题活动   start -->
            <div class="udiy" id="cn-news-index-subject"><div id="portal-block-47101585013" class="udiyblock" > <div class="left_box m_top">
    <div class="header_box">
        <h3 class="header_title">
            主题活动</h3>
        <span class="header_more"><a target="_blank" href="">更多&gt;&gt;</a></span><div class="clear_float">
        </div>
    </div>
    <div class="left_taim">
        <!--<div class="theme_activity theme_top">
            <span class="theme_avimg"><a target="_blank" href="http://tuan.17u.cn/hotel/ " title="团购酒店，就选蜗牛旅途">
                <img src="" alt="团购酒店，就选蜗牛旅途"></a></span><dl class="dl_introduction">
                        <dt><a target="_blank" href="http://tuan.17u.cn/hotel/ " title="团购酒店，就选蜗牛旅途">
                           团购酒店，就选蜗牛旅途</a></dt><dd>17元抢团购酒店， 热门城市酒店2折起， 海景房，轻松省2000元！</dd></dl>
            <div class="clear_float">
            </div>
        </div>-->
        
      
      
    </div>
</div></div></div>
            <!-- 主题活动   end -->
        </div>
</div>
<div style="clear:both"></div>
<!--footer start-->
<!--{include common_footer}-->
