<div id="home-slide-show" class="home-slide-show mt10">
    <div class="box">     
        <div class="content">
            <div class="bar">
                <div class="r" data-tip="切换">               
                    <div class="a cur"></div>
                    <div class="a "></div>
                    <div class="a "></div>			
                </div>
            </div>
            <ul class="ad-pic">
                <li><a target="_blank" href="#" style="background-image:url(/static/focus/bj-0225-sanya-780x220.jpg);"> </a></li>
                <li><a target="_blank" href="#" style="background-image:url(/static/focus/bj-0225-sanya-780x260.jpg);"> </a></li>
                <li><a target="_blank" href="#" style="background-image:url(/static/focus/bj-0711-guil-780x260.jpg);"> </a></li>	
            </ul>
        </div>
    </div>
</div>

