<div class="search fn-left fn-clear">
        <ul id="search-nav" class="fn-left">
            <li class="ticket">
                <h6>当季玩法<i></i></h6>
                <div class="search-con ticket">
                    <h4>你想怎么玩？</h4>
                    <form action="/searchList.php" method="post" class="fn-clear">
                        <input type="text" id="ticket" name="keywords" value="">
                        <button class="btn" type="submit">搜索</button>
                    </form>
                    <dl class="fn-clear mt10">
                        <dt>热门玩法：</dt>
                        <!--{loop $themes $th $theme}-->
                        <dd><a href="searchList.php?filter_attr=0-{$theme['id']}-0-0" target="_blank" title="{$theme['name']}">{$theme['name']}</a></dd>
                       <!--{/loop}-->
                    </dl>
                    
                </div>
            </li>
            <li class="ticket">
                <h6>景点门票<i></i></h6>
                <div class="search-con ticket">
                    <h4>景点门票免费预订</h4>
                    <form action="/searchList.php" method="post" class="fn-clear">
                        <input type="text" id="ticket" name="keywords" value="请输入景点名或城市名...">
                        <button class="btn" type="submit">搜索</button>
                    </form>
                    <dl class="fn-clear mt10">
                        <dt>精选主题：</dt>
                        <!--{loop $themes $th $theme}-->
                        <dd><a href="searchList.php?filter_attr=0-{$theme['id']}-0-0" target="_blank" title="{$theme['name']}">{$theme['name']}</a></dd>
                       <!--{/loop}-->
                    </dl>
                    <dl class="fn-clear">
                        <dt>热搜城市：</dt>
                        <!--{loop $hotcitys  $hotcity}-->
                        <dd><a href="searchList.php?filter_attr={$hotcity['id']}-0-0-0" target="_blank" title="{$hotcity['name']}">{$hotcity['name']}</a></dd>
                        <!--{/loop}-->
                    </dl>
                    <dl class="fn-clear">
                        <dt>热搜景点：</dt>
                        <!--{loop $hotscenery  $scenery}-->
                        <dd><a href="/sceneryticket.php?id={$scenery['id']}" target="_blank" title="{$scenery['title']}">{$scenery['title']}</a></dd>
                        <!--{/loop}-->
                    </dl>
                </div>
            </li>
            <li class="travel">
                <h6>自助游<i></i></h6>
                <div class="search-con travel">
                    <p>自助游——不跟团，不累，不贵</p>
                    <h4>行程轻松自由，预定边界省心，套餐价格更低</h4>

                    <form action="/searchZiZhu.php" method="post" class="fn-clear">
                        <input type="text" id="zizhuyou" name="keywords" value="请输入景点名或城市名...">
                        <button class="btn" type="submit">搜索</button>
                    </form>
                    <dl class="fn-clear mt10">
                        <dt>热门搜索：</dt>
                        <dd><a href="http://www.imiyi.cc/#" target="_blank" title="水上乐园">青岛啤酒节</a></dd>
                        <dd><a href="http://www.imiyi.cc/#" target="_blank" title="青岛极地海洋世界">青岛极地海洋世界</a></dd>
                        <dd><a href="http://www.imiyi.cc/#" target="_blank" title="青岛极地海洋世界">青岛极地海洋世界</a></dd>
                        <dd><a href="http://www.imiyi.cc/#" target="_blank" title="青岛极地海洋世界">青岛极地海洋世界</a></dd>
                        <dd><a href="http://www.imiyi.cc/#" target="_blank" title="青岛极地海洋世界">青岛极地海洋世界</a></dd>
                        <dd><a href="http://www.imiyi.cc/#" target="_blank" title="青岛极地海洋世界">青岛极地海洋世界</a></dd>
                        <dd><a href="http://www.imiyi.cc/#" target="_blank" title="青岛极地海洋世界">青岛极地海洋世界</a></dd>
                    </dl>
                </div>
            </li>
        <li class="hotel">
            <h6>度假村<i></i></h6>
            <div class="search-con hotel">
                <form action="http://www.imiyi.cc/hotelSearch.php" method="get" class="fn-clear" id="hotelform" style="position:relative">
                    <label for="txtHotelCity1">选择城市</label>
                    <input type="text" id="txtHotelCity1" name="hotel-city" value="请输入城市名称"><br>
                    <input type="hidden" name="hotelCityId" id="hotelCityId" value="">

                    <div id="hotelCities" class="g-cities" style="display: none;">
                        <h3>热门城市</h3>
                        <ul class="fn-clear">
                            <li id="1"><a href="javascript:void(0);">重庆</a></li>
                            <li id="2"><a href="javascript:void(0);">成都</a></li>
                            <li id="10"><a href="javascript:void(0);">威海</a></li>
                            <li id="6"><a href="javascript:void(0);">烟台</a></li>
                            <li id="5"><a href="javascript:void(0);">东营</a></li>
                            <li id="15"><a href="javascript:void(0);">临沂</a></li>
                            <li id="14"><a href="javascript:void(0);">聊城</a></li>
                            <li id="13"><a href="javascript:void(0);">德州</a></li>
                            <li id="16"><a href="javascript:void(0);">菏泽</a></li>
                        </ul>
                    </div>
                    <label for="start-time">度假村名称</label>
                    <input type="text" id="start-time" name="txtHotelName"><br>
                    <button class="btn" type="submit" onclick="javascript:document.getElementById('hotelform').submit()">搜索
                    </button>
                </form>
            </div>
        </li>
    </ul>
    <ul id="search-con" class="fn-right">

    </ul>
</div>
